@media print
{
    *, :before, :after {       
        color: unset !important;
      }

.onboarding-pass{
    padding: 0px;
    border: 0px;
}
/* alt-internship-experiences, alt-languages{
    display: none !important;
} */
a[href]:after {
    display: none;
    visibility: hidden;
 }

 .print-displayNone{
    display: none !important;
 }

 .print-displayBlock{
    display: block !important;
 }
 
.content-PrintView{
    padding: unset !important;
    width: 100% !important;
    max-width: unset !important;
}
.tab-left-section .tab-details{
    display: block!important;
    width: 100%!important;
}
.col-md-4{
    float: left;
    width: 33%!important;
}


 @page 
    {
        size:  auto;   /* auto is the initial value */
        margin: 3mm;  /* this affects the margin in the printer settings */
    }
    
    .textLayer span{transform: scale(0)!important; transform: scaleX(0); text-shadow:0!important;}
    

    .pdf-viewer-block{padding: 0px!important; max-height: 100%!important; height: 100%!important; overflow: auto;}
    .ng2-pdf-viewer-container .pdfViewer  .page,
    .ng2-pdf-viewer-container .pdfViewer  .page .canvasWrapper,
    .ng2-pdf-viewer-container .pdfViewer  .page .textLayer{width:100%!important; height:100%!important;}

}